*{
    top: 0px;
    left: 0px;
    max-width: 100%;
    padding: 0rem;
    margin: 0rem;
}

body{
    background-color:#FFFFFF;
}
nav{  
    display: flex;
    flex-direction: row;
     max-width: 100%;
    padding: 1.5rem 6rem;
    justify-content: space-between; 
    color: black;
    background-color:#F1F1FF;
}
.Ar{
    font-weight: bold ;
}

.Products_container {
    display: flex;
    text-decoration: none;
    list-style: none;
    justify-content: space-evenly;
    gap: 2rem;
}
.Products_container a{
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.signIn_container{
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    cursor: pointer;
}

.signIn_container .start_free{
    background-color: #4F46BA;
    padding: .5rem;
    border-radius: .5rem;
    margin-top: -.3rem;
    cursor: pointer;
}
.section_one_cont{
    background-color:#F1F1FF;
    padding: 3rem 6rem;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
}
.manage_container{
    width: 50%;
}
.manage_container .manage{
    width: 100%;
    font-size: 3.4rem;
    letter-spacing: -.1rem;
    margin-top: 2rem;
}
.manage_container p{
    width: 80%;
    color: #757095;
}
.get_container{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.get{
    background-color: #4F46BA;
    padding: 1rem 2rem;
    font-size:medium ; 
    color: #ffffff ;
    outline: none;
    border: none;
}
.get_container a{
    text-decoration: none;
    font-size: small;
    margin-top: 1rem;
}
.free_container{
    display: flex;
    gap: 1rem;
}
.checkbox_container .checkbox{
    border-radius: 50%;
}
.image_container{
    position: relative;
    width: 50%;
}
.img_one{
    width: 100%;
    object-fit: cover;
}
.image_container .img_two{
    position: absolute;
    top: 7rem;
    left: -3rem;
    width: 15rem;
}
.image_container .img_three{
    position: absolute;
    top: 14rem;
    left: -3rem;
    width: 15rem;
}

 .section_two_cont{
    margin-top: 2rem;
    padding: 2rem 5rem;
}

.section_two_cont .companyy{
    font-size: 1.6rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
    
.img_sec_two_cont{
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;

}
.img_sec_two_cont img{
    width: 8rem;
    object-fit: contain;

} 
.why{
    color: #3734A9;
    text-align: center;
    margin-bottom: 1rem;
}
.specially{
    text-align: center;
    margin-bottom: 2rem;
}
.sp_cont{
    display: flex;
    gap: 3rem;
    justify-content: space-between;
}
.sp_cont_quick{
    height: 25rem;    
}
.sp_cont_quick_top{
    height: 50%;
    background-color: #F8F8FE;
    position: relative;    
}
.sp_cont_quick_top_inside{
    top:10%;
    bottom: 10%;
    left:5%;
    right: 5%;
    display: block;
    position: absolute;
    display: block;
    background-color: #ffffff;
    
}
.inside{
    display: flex;
    padding: 1.5rem;
    justify-content: space-between;
}
.inside_i{
    display: flex;
    gap: 1rem;
}
.inside_i img{
    object-fit: contain;
}
.tota{
    font-size: x-small;
    margin-top: .5rem;
}
.quickk{
    padding: 2rem 0rem;
    width: 100%;
}
.summ{
    font-size: 2.5rem;
}
.warm{
    font-size: 1rem;
    margin-top: 1rem;
}
.my_top{
    position: relative;
    justify-content: center;
    align-items: center;
}
.my_contt{
    top: 15%;
    bottom: 10%;
    left: 5%;
    right: 5%;
    display: flex;
    position: absolute;
    gap: .5rem;
    justify-content: space-evenly;
}
.my{
    text-align: start;
    font-weight: bold;
    display: block;
    margin: 0rem 2rem;
}
.my_inside{
    text-align: center;
    align-content: end;
    margin-top: 1rem;
    width: 17%;
    border-radius: 1.5rem;
    height: 90%;
    border: 1px solid #e2e2e2;
    background-color: #ffffff;
}
.nine{
   background-color:  #4f46ba;
}
.blank{
    border: 1px dashed #e2e2e2;
}
.john_cont{
    display: flex;
    width: 80%;
    padding-left: 1rem;
    background-color: #ffffff;
    height: 3rem;
    margin-bottom: 1rem;
}
.john{
    margin-top: 1rem;
    margin-left: 1rem;
}
.john_top{
    position: absolute;
    top: 5%;
    left: 10%;
    align-content: center;
    width: 100%;
    display: block;
}
.section_three_cont{
    padding: 3rem 6rem;
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}
.img_box{
    width: 50%;
    position: relative;
}

.img_cont{
    position: absolute;
    top:20%;
    bottom: 0%;
    display: block;
    width: 90%;
    height: 80%;
    border-bottom-right-radius: 3rem ;
    background-color: #f8f8fe;
}
.our_cont{
    width: 50%;
}
.our{
    text-transform: uppercase;
    color: #3734A9;
    margin-bottom: 2rem;
    margin-top: 9rem;
    font-size: 1.5rem;
}
.receive{
    font-size: 3rem;
    width: 90%;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1rem ;
}
.why_text{
    font-size:1.3rem;
    color: #757095;
    width: 80%;
    margin-bottom: 2rem;  

}
.girl{
    position: absolute;
    top: -7%;
    left: 15%;
    width: 15rem;
    height: 30rem;
}
.circles{
    position: absolute;
    left: 70%;
    top: -5%;
}
.sec_four{
    background-color: #f8f8fe;
    padding: 0rem auto;
    margin: 6rem;
}
.ourr{
    text-transform: uppercase;
    color: #3734A9;
    margin-bottom: 2rem;
    margin-top: 0rem;
    font-size: 1.5rem;
}
.sign_cont{
    width: 50%;
    padding: 1rem;
}
.sign_cont h2{
    color: #3734A9;
    margin-bottom: 1rem;
}
.receivee{
    font-size: 2rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1rem ;
}
.input{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.input input{
    padding-left:  1rem;
    height: 3rem;
    width: 100%;
    border: none;
    outline: none;

}
.gett{
    background-color: #ff7f5c;
    color: #FFFFFF;
    padding: 1rem 2rem;
    margin-top: 1rem;
    outline: none;
    height: 3rem;
    width: 100%;
    border: none;
}
.daily_cont{
    background-color: #f8f8fe;
    width: 50%;
    
    position: relative;
}
.daily{
    width: 40%;
    background-color: #ffffff;
    height: 35%;
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 0rem;
    padding: 1rem;
    border-radius:.5rem ;
    box-shadow: 0px 4.85px 36.3px;
}
.daily_stick{
    position: absolute;
    width: 10%;
    background-color: yellow;
    border-radius: .8rem;
    bottom: 10%;
}
.one{
    height: 70%;
    top: 20%;
    left: 5%;
    background-color: #4F46BA;
}
.two{
    height: 60%;
    top: 30%;
    left: 25%;
    background-color: #f9896b;
}
.three{
    height: 50%;
    top: 40%;
    left: 45%;
    background-color: #4F46BA;
}
.four{
    height: 65%;
    top: 25%;
    left: 65%;
    background-color: #f9896b;
}
.five{
    height: 50%;
    top: 40%;
    left: 45%;
    background-color: #4F46BA;
}
.create{
    top: 10%;
    left: 35%;
    bottom: 10%;
    width: 65%;
    background-color:  #ffffff;
    height: 100%;
    position: absolute;
    justify-content: center;
    box-shadow: 0px 0px 36.3px;
   
}
.create_int{
    margin:.5rem auto;
    width: 90%;
    background-color: #ffffff;
    height: 90%;
}
.invoice{
    font-weight: bold;
    margin-left: 1rem;
    margin-top: .3rem;
}
.create_top{
    width: 100%;
    background-color: #ededf3;
    height: 50%; 
    position: relative;  
}
.create_top_one{
    width: 60%;
    background-color: #B0B0B0;
    height: 1.5rem;
    top: 1rem;
    left: 1rem;
    position: absolute;
}
.create_top_two{
    width: 75%;
    background-color: #ffffff;
    height: 1.5rem;
    top: 3rem;
    left: 1rem;
    position: absolute;
}
.create_top_three{
    width: 40%;
    background-color: #ffffff;
    height: 1.5rem;
    top: 6rem;
    left: 1rem;
    position: absolute;
}
.create_bottom{
    margin: 0rem 1rem;
}
.for{
    margin-bottom: .3rem;
    font-weight: bold;
}
.create_img{
    margin-bottom: .5rem;
}
.Usd{
    font-weight: bold;
}
.don{
    background-color: #ededf3;
    padding: .7rem;
    text-align: center;
    font-weight: bold;
    margin-top: 0.5rem;
}
.what{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
}
.testimonial_cont{
    padding: 0rem 6rem ;
}
.testimonial_int{
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    gap: 2rem;

}
.testimonial_box{
    position: relative;
    border: 1px solid #ededed;
    background-color: #ffffff;
    padding: 5rem 3rem 2rem;
    border-bottom-right-radius:2rem ;
    color: #797979;
}
.blue_circle{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #3734a9;
    position: absolute;
    top: -2rem;
    left: 2rem;
}
.testimonial_box p{
    margin-bottom: 2rem;
}
.test_img{
    display: flex;
    gap: 1rem;
}
.name{
    color: black;
    font-weight: bold ;
}
.section_six_cont{
    background-color: #f8f8fe;
    padding: 4rem 6rem;
    margin: 6rem;
    position: relative;
    border-top-left-radius:6rem ;
    border-bottom-right-radius:6rem ;
    text-align: center;
}
.section_six_cont img{
    position: absolute;
    top: -2rem;
    left: 5rem;
}
.section_six_cont h2{
    font-weight: bold;
    color: black;
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
}
.section_six_cont div{
    color: #757095;
    width: 60%;
    margin: auto;
    margin-bottom: 1rem;
}
footer{
    margin: 6rem ;
}
.footer_container{
    display: flex;
    justify-content: space-between;
}
.footer_in{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.finance{
    color:#757095
}
.footer_img{
    display: flex;
    gap: 1rem;
}
.company{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.company a{
    text-decoration: none;
    color: #181433;

}
.line{
    border: 1px solid #f8f8fe;
    margin-top: 3rem;
}
.copy{
    text-align: center;
    margin-top: 6rem;
}